body {
    font-family: Arial, sans-serif;
    background-color: #f8baba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #73ec77;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.survey-form h1 {
    text-align: center;
    color: #ff7f50;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.rating {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ffdd44;
    cursor: pointer;
}

.rating input:checked ~ label {
    color: #ff8800;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #ff7f50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #ff6347;
}
